                                /*MOBILE (320PX)*/


/*header*/

header{
    position: sticky;
    top: 0
}
nav{
    background-color: black;
    height: 100px;
    font-family: "Dancing Script";
    font-size: 0.6rem; 
    padding-top: 0px;
}

.navpadre{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 70%);
    grid-template-columns: repeat(5, 20%);
    grid-template-areas: 
    'nav4  nav2 nav2 nav3 nav3'
    'nav1 nav5 nav6 nav7 nav8';
    align-items: center;
}

.navhijos-1d{
    display: none;
}

.navhijos-1mp a{
    grid-area: nav1;
    text-decoration: none;
    color: aliceblue;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    text-align: left;
}
.navhijos-2mp a{
    grid-area: nav5;
    text-decoration: none;
    color: aliceblue;
    font-size: 0.6rem;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: left;
}
.navhijos-3mp a{
    grid-area: nav6;
    text-decoration: none;
    color: aliceblue;
    font-size: 0.6rem;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: left;
}
.navhijos-4mp a{
    grid-area: nav7;
    text-decoration: none;
    color: aliceblue;
    font-size: 0.6rem;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: left;
}
.navhijos-5mp a{
    grid-area: nav8;
    text-decoration: none;
    color: aliceblue;
    font-size: 0.6rem;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: left;
}

.navhijos-2{
    grid-area: nav2;
    display: flex;
    justify-content: right;
}

.navhijos-2 img{
    height: 45px;
    width: 70px;
    border-radius: 30px;
}

.navhijos-3m{
    grid-area: nav3;
    display: flex;
    justify-content: right;
    margin-right: 0px;
}

.navhijos-3m a{
    text-decoration: none;
    color: aliceblue;
    display: flex;
}

.navhijos-3d {
    display: none;
}

.navhijos-4m{
    grid-area: nav4;
}

.navhijos-4m img{
    height: 35px;
    width: 35px;
    align-items: right;
    border-radius: 100px;
}


/*/header*/

                                /*480px*/


/*header*/
@media (min-width: 480px){

nav{
    padding-top: 0px;
    height: 150px;
}

.navhijos-1mp a{
    font-size: 0.8rem;

}
.navhijos-2mp a{
    font-size: 0.8rem;
}
.navhijos-3mp a{
    font-size: 0.8rem;
}
.navhijos-4mp a{
    font-size: 0.8rem;
}
.navhijos-5mp a{
    font-size: 0.8rem;
}

.navhijos-2 img{
    height: 60px;
    width: 130px;
    border-radius: 30px;
}

.navhijos-3d {
    display: none;
}

.navhijos-4m img{
    height: 50px;
    width: 50px;
    border-radius: 100px;
}

}

/*/header*/


                                /*600px*/


/*header*/

@media (min-width: 600px){


.navhijos-1m{
    display: none;
}

.navhijos-2 img{
        height: 60px;
        width: 130px;
        border-radius: 30px;
}

.navhijos-3d{
    display: none;
}

.navhijos-4m img{
    height: 50px;
    width: 50px;
    border-radius: 100px;
}

}


/*/header*/



                                /*TABLET(820px)*/

/*header*/

@media (min-width: 820px){

nav{
    padding-top: 0px;
    height: 200px;
}

    .navhijos-1d{
        display: none;
    }

.navhijos-2 img{
        height: 90px;
        width: 150px;
        border-radius: 40px;
    }
    
    .navhijos-3d{
        display: none;
    }
    
    .navhijos-4m img{
        height: 70px;
        width: 70px;
        border-radius: 100px;
    }

}

/*/header*/



                                /*Desktop(1000PX)*/

@media (min-width: 1000px){


/*header*/

nav{
    height: 200px;
    font-size: 1rem;
}

.navpadre{
    display: grid;
    grid-template-rows: repeat(1, 200%);
    grid-template-columns: repeat(4, 25%);
    grid-template-areas: 
    'nav1 nav2 nav2 nav3';
    align-items: center;
}

.navhijos-1mp{
    display: none;
}
.navhijos-2mp{
    display: none;
}
.navhijos-3mp{
    display: none;
}
.navhijos-4mp{
    display: none;
}
.navhijos-5mp{
    display: none;
}

.navhijos-1d{
    grid-area: nav1;
}

.navhijos-1d img{
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

.navhijos-2{
    grid-area: nav2;
    display: flex;
    justify-content: center;
}

.navhijos-2 { transition: transform 0.1s ease-in-out;
}
.navhijos-2:hover{
    transform: scale(1.1);
}

.navhijos-2 img{
    height: 90px;
    width: 150px;
    border-radius: 30px;
}

.navhijos-3d{
    grid-area: nav3;
    display: flex;
    justify-content: right;
    margin-right: 0px;
}

.navhijos-3d img{
    height: 90px;
    width: 90px;
    border-radius: 30px;
}

.navhijos-3d a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    display: flex;
    align-items: center;
    
}

.navhijos-3m{
    display: none;
}

.navhijos-4m{
    display: none;
}

}

/*/header*/



                                /*1200PX*/



/*header*/

@media (min-width: 1200px){

    .navhijos-1d{
        grid-area: nav1;
    }
    .navhijos-1mp{
        display: none;
    }
    .navhijos-2mp{
        display: none;
    }
    .navhijos-3mp{
        display: none;
    }
    .navhijos-4mp{
        display: none;
    }
    .navhijos-5mp{
        display: none;
    }
    .navhijos-1d img{
        height: 60px;
        width: 60px;
        border-radius: 30px;
    }
    .navhijos-3m{
        display: none;
    }
    
    .navhijos-4m{
        display: none;
    }
}

/*/header*/



                                /*PAGE BUY*/

.pagebuy{
    height: 100%;
}

.buy-1{
    display: grid;
    grid-template-columns: repeat(1 ,100%);
    grid-template-rows: repeat(2 ,50%);
    grid-template-areas: 
    "buy1"
    "buy2";
}

.sub-buy1 {
    grid-area: buy1;

}

.sub-buy1 img{
    height: auto;
    width: 100%;
}

.sub-buy2 {
    grid-area: buy2;
}
.sub-buy2 img{
    height: 100%;
    width: 100%;
}


.buy-2{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4 ,25%);
    grid-template-rows: repeat(1 ,80%);
    grid-template-areas: 
    "buy3 buy4 buy5 buy6";
    border-bottom: solid black 5px;
}
.buy-2 { transition: transform 0.1s ease-in-out;
}
.sub-buy3:hover{
    transform: scale(1.1);
}
.sub-buy4:hover{
    transform: scale(1.1);
}
.sub-buy5:hover{
    transform: scale(1.1);
}
.sub-buy6:hover{
    transform: scale(1.1);
}

.buy-2 img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.sub-buy3{
    grid-area: buy3;
    margin-left: 10%;
}


.sub-buy4{
    grid-area: buy4;
    margin-left: 10%;
}



.sub-buy5{
    grid-area: buy5;
}


.sub-buy6{
    grid-area: buy6;
}


                                /*PAGE HELPBUY*/

                        /*BOOTSTRAP*/
.padrehelp{
    border-bottom: solid black 5px;
}
.help img{
    height: 100%;
    width: 100%;
}


.help h2{
    text-align: center;
}

.help a{
    text-align: center;
    text-decoration: none;
    color: aliceblue;
}

.help p{
    text-align: center;
}

.help iframe {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/*footer*/

.footer-help{
    padding: 40px;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.help-f1 a p{
    color: black;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    align-self: flex-end;

}

.help-f1 img{
    width: 22%;
    height: 22%;
    border-radius: 40%;
    align-self: center;
}

.help-f1 a{
    text-decoration: none;
}

/*/footer*/

                                /*PAGE LOGIN*/


.padrelogin{
    width: 100%;
    height: 80vh;
    @include flex-center;
    flex-direction: column;
    border-bottom: solid black 5px;
}

.login-title{
    height: 20vh;
    font-size: 1.5rem;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    animation: lazo-izquierda 2s ease-in-out infinite alternate, 
    lazo-derecha 2s ease-in-out infinite alternate;
}

@keyframes lazo-izquierda {
    0% {
transform: translateX(0);
}
    50% {
    transform: translateX(-30px); 
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes lazo-derecha {
    0% {
    transform: translateX(0);
    }
    50% {
      transform: translateX(30px); 
    }
    100% {
    transform: translateX(0);
    }
}
.login-0{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    padding: 10px;
    margin-top: 0px;
    width: 250px;
    height: 330px;
    font-size: 0.8rem;
}
.navhijos-1d{
    display: none;
}

@media (min-width: 480px){
.login-0{
    width: 270px;
    height: 600px;
    font-size: 1.3rem;
}
.navhijos-1d{
    display: none;
}
}

@media (min-width: 600px){
.login-0{
    width: 280px;
    height: 600px;
    font-size: 1.3rem;
}
.navhijos-1d{
    display: none;
}
}

@media (min-width: 820px){
.login-0{
    width: 270px;
    height: 600px;
    font-size: 1.3rem;
}
.navhijos-1d{
    display: none;
}
}


@media (min-width: 1000px){
    .login-0{
        width: 270px;
        height: 600px;
        font-size: 1.3rem;
    }
    
    }

@media (min-width: 1200px){
.login-0{
    width: 270px;
    height: 600px;
    font-size: 1.3rem;
}

}

